@font-face {
  font-family: "Bebas Neue Regular";
  src: url("./bebas_neue_regular/bebas_neue_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("./bebas_neue_regular/bebas_neue_regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("./bebas_neue_regular/bebas_neue_regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./bebas_neue_regular/bebas_neue_regular.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./bebas_neue_regular/bebas_neue_regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./bebas_neue_regular/bebas_neue_regular.svg#bebas_neue_regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
