.tasks_Card {
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  top: 5px;
  padding-bottom: 20px;
  opacity: 0;
  width: 268px;
  border-radius: 10px;
  &::-webkit-scrollbar {
    width: 0;
  }
  &:after {
    width: 100%;
    clear: both;
    content: "";
    display: block;
  }

  .card_Header {
    max-width: 100%;
    padding: 10px 20px;
    height: 30px;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    .deleteBoard {
      display: flex;
      align-items: center;

      font-weight: 600;
      font-size: 14px;
      padding: 0px 5px;
      border-radius: 10px;
      margin-left: 70px;

      &:hover {
        transition: 0.2s;
        cursor: pointer;
        background-color: rgb(116, 38, 38);
      }
    }

    .color_change {
      transform: translate(4px 5px);
      cursor: pointer;
      input {
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        width: 20px;
        height: 20px;
        transform: translate(2px, 3px);
        padding: 0;
        outline: none;
        border: none;

        &::-webkit-color-swatch-wrapper {
          padding: 0;
        }
        &::-webkit-color-swatch {
          border: 0;
        }

        &::-moz-color-swatch {
          border: 0;
        }
      }
    }

    .card_name {
      display: flex;
      input {
        outline: none;
        border: none;
        width: 100px;
        color: #979696;
        font-size: 16px;
      }
      .title {
        font-weight: 600;
      }
    }
  }

  .addTask {
    display: flex;
    justify-content: center;
    cursor: pointer;
    img {
      width: 15px;
      transform: translate(-5px, 2px);
    }
    width: 90%;
    padding: 5px 0;
    border-radius: 5px;
    &:hover {
      transition: 0.4s;
      background-color: #353535;
    }
  }
}

.menu_icon {
  padding: 5px 8px;
  transform: translate(8px, 0px);
  img {
    transform: translate(0px, 2px);
  }

  &:hover {
    background-color: #252525;
    border-radius: 10px;
  }
}

.menu {
  transition: 0.3s;
  width: 220px;
  z-index: 20;
  height: 0;
  position: absolute;
  border-radius: 5px;
  right: 10px;
  top: 40px;
  background-color: #272b35;
  overflow: hidden;

  .title {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #393c44;
  }
  ul {
    margin: 0;
    padding: 10px 10px;
  }
  li {
    list-style: none;
    text-align: start;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    &:last-child {
      margin: 0;
      color: #ffffff;
      &:hover {
        background-color: rgb(202, 108, 108);
        color: #252525;
      }
    }

    &:hover {
      background-color: #2f323a;
    }
  }
}

.menu_show {
  transition: 0.3s;
  height: auto;
}

.name_edit {
  width: 140px;
  border: 2px solid #5b90d4;
  padding: 7px 10px;
  border-radius: 5px;
  &:focus {
    outline: #39659e;
  }
}

.enterName {
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
  textarea {
    font-family: Arial;
    font-size: 16px;
    resize: none;
    background-color: #2d2f35;
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 10px;

    &::placeholder {
      color: #4a4a4b;
    }

    &:focus {
      color: #fff;
      outline: #39659e;
      border: 2px solid #39659e;
      &::placeholder {
        color: #39659e;
      }
    }
  }
}

.actions {
  display: flex;

  .accept {
    width: 130px;
    height: 30px;
    border: none;
    background-color: rgb(89, 152, 223);
    color: #252525;
    margin-right: 10px;
    border-radius: 2px;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: rgb(98, 166, 243);
    }
  }

  .cancel {
    border: none;
    background-color: rgb(185, 60, 77);
    &:hover {
      cursor: pointer;
      background-color: rgb(230, 105, 121);
    }
  }
}

.change_icon {
  cursor: pointer;

  transform: translate(-2px, 3px);
  img {
    width: 14px;
    height: 14px;
    padding: 3px;
    border-radius: 50%;
  }
}

.cancel {
  margin-right: 2px;
  background-color: #353838;

  &:hover {
    transition: 0.2s;
    background-color: rgb(190, 69, 69);
  }
}

.accept {
  transition: 0.2s;
  background-color: #18181800;
  &:hover {
    background-color: #18181800;
  }
}

.enable {
  background-color: #353838;
  &:hover {
    transition: 0.2s;
    background-color: rgb(85, 199, 152);
  }
}

.tasks {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.show {
  transition: 0.5s;
  opacity: 1;
}
