@import url("./assets/fonts/bebas_neue_regular.css");

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

:root {
  font-family: Arial;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  transition: 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #242424;
  background-image: url("./assets/img/sky_night.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.night {
  background-image: url("./assets/img/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.wrapper {
  position: relative;
  max-width: 100%;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.boards {
  position: relative;
  padding: 10px;
  overflow: scroll;
  overflow-y: hidden;
  display: flex;
  background-color: #18171700;
  width: 100%;
  border-radius: 10px;

  &::-webkit-scrollbar {
    background-color: rgba(85, 85, 68, 0);
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #24242494;
    border-radius: 40px;

    &:hover {
      background-color: #242424;
    }
  }
  p {
    margin: 20% auto;
    font-weight: 600;
    font-size: 36px;
  }
}

.editName {
  position: absolute;
  z-index: 3;
  left: 17.5%;
  top: -38px;
}

.task {
  padding: 10px 10px;
  background-color: #2d2f35;
  border-radius: 10px;
  text-wrap: wrap;
  display: flex;

  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  &:first-child {
    margin: 0;
    margin-bottom: 10px;
  }

  &:hover {
    background-color: #dba999b2;
  }

  img {
    background-color: #242424;
    border-radius: 10px;
    padding: 5px;

    &:hover {
      cursor: pointer;
      transition: 0.2s;
      background-color: rgb(163, 52, 52);
    }
  }
}

.board_info {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  background-color: #0f0f0f9a;
  border-radius: 10px;
  padding: 10px;

  p {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }
}

.task_info {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  background-color: #0f0f0f9a;
  border-radius: 10px;
  padding: 10px;

  p {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }
}

.sidebar {
  position: relative;
  width: 230px;
  padding: 20px;
  background-color: #242323e8;

  .select_theme {
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    left: 30%;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    height: 40px;
    width: 70px;
    background-color: #272727;
    border-radius: 30px;
    border: 2px solid #f7f7f7;
    -webkit-box-shadow: 0px 0px 16px 17px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 0px 16px 17px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 16px 17px rgba(0, 0, 0, 0.2) inset;
    display: flex;
    align-items: center;
    padding: 5px 15px;
  }

  .dark_theme {
    background-color: #54c2ca;
  }
}

.toggle_circle {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #f0f0f0;
  z-index: 0;
  border-radius: 50%;

  /* Когда анимация будет закончена, начните снова */

  @keyframes long {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      width: 90px;
    }
    40% {
      width: 90px;
    }
    50% {
      width: 90px;
    }
    60% {
      width: 90px;
    }
    70% {
      width: 90px;
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}

.circle_right {
  transition: 0.3s;
  transform: translate(-12.5px, 0);
}
.circle_left {
  transition: 0.3s;
  transform: translate(37px, 0);
}

.sun {
  transition: 0.3s;
  z-index: 1;
  transform: scale(1.8);
}

.moon {
  transition: 0.3s;
  z-index: 1;
  transform: scale(1.8);
}
